@charset "UFT-8";

:root{
    --verde-principal: #4DCF2C;
    --cinza-destaque: #d8d8d8;
    --branco-principal: white;
}

*{
    padding: 0;
    margin: 10px;
}

.principal{
    height: 10vh;
    color: var(--verde-principal);
    background-color: var(--branco-principal);
    display: grid;
    grid-template-rows: 100%;
}

.navbar__container{
    align-items: center;
    margin: 0 0em;
    display: inline-flex;
}

.container__imagem{
    width: 35%;
    margin-left: 4em;
}
.container__menu{
    width: 65px;
}

#divBusca{
    background-color: var(--branco-principal);
    border:solid 3px black;
    border-radius:25px;
    width:300px;
    margin-left: 23em;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:7px;
    font-size:17px;
    border:none;
    height:25%;
    width:50%;
}

.secundario{
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 2em 0;
    align-items: center;
    text-align: center;
}

.anos__lista{
    list-style-type: none;
    text-align: center;
    
}

.anos__lista img{
    width: 50%;
    
}

.lista__item{
    margin: -1em;
}

.carrossel__secundario{
    width: 100%;
    border-radius: 10px;
}

.container__botao{
    background-color: transparent;
    border: none;
}